.wrapper{
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.5)),url('./assets/interior.avif');
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hall{
  margin-top: 20px;
  background-image: url('./assets/Hall.jpg');
  height: 70vh;
  background-position: center;
  background-size: cover;
}

.title{
  color: antiquewhite;
  text-align: center;
  font-size: 40px;

}
.paragraph{
  color: yellow;
  font-size: larger;
  font-weight: 600;
  text-align: center;
}

